* {
  padding: 0;
  margin: 0;
}
a {
  color: #00b7ff;
}
.container div {
  display: flex;
  padding: 5px 10px;
}
.logout {
  font-size: 1rem;
  font-weight: normal;
}
.radiostyle {
  display: flex;
  align-items: center;
}
p {
  padding-right: 1rem;
}
@media screen and (min-width: 900px) {
  .biaodan {
    width: 200px;
    height: 2em;
  }
  .biaodan_click {
    background-color: #00b7ff;
    color: white;
  }
}
@media screen and (max-width: 900px) {
  .biaodan {
    width: 2em;
    height: 2em;
    font-size: 0;
    /*background-image: url('../images/')*/
  }
  .biaodan_click {
    background-color: #00b7ff;
    color: white;
  }
}
